.row
  display: flex
  flex-direction: column
  flex-wrap: wrap
  align-items: center
  justify-content: center
  text-align: center

  +mq(medium)
    flex-direction: row
.vertical
  flex-direction: column
