// =======================================
// =            Global Config            =
// =======================================

// Tipografía
@import "font-imports"
$font-family--primary   : "Gotham-Light", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family--secondary : "Gotham-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif

// Texto
$base__font-size        : 16px
$base__line             : 24px
$letter-space           : 1px

// Pesos
$font__weight--light    : 300
$font__weight--bold     : 400

// Colores Descriptivos
$blanco                 : #ffffff
$negro                  : #4a4a4a
$gris                   : #797e83
// Colores Cosas
$rojo                   : #a4262a
$amarillo               : #d6c91f
// Color Principal
$rosa-boda              : #DF4E6B

// Paleta de Colores
@import "color-palletes"

// Uso de Colores
$color-primario         : $rosa-boda
$color-secundario       : palette(rosa, light)
$color-acento           : invert($color-primario)
$color-sombra           : rgba($negro, 0.2)

// Colores UI
@import "ui-colors"

// Transiciones
$trns-duration          : .3s

// Camino a 'img'
$path--img              : '../img'

// Grid Variables powered by Chochini - Better FlexboxGrid
$col-num: 12 !default
$col-gutter: 0.5rem !default

// Breakpoints para los media queries 🐶
$grid__breakpoints: xs, (sm, 32em), (md, 48em), (lg, 62em) !default
