.hero
  height: 85vh
  color: $blanco
  background: linear-gradient(rgba(34, 35, 37, 0.3), rgba(34, 35, 37, 0.3)), rgba(34, 35, 37,0.3) url('../img/hero.jpg')
  background-size: cover

  .container
    height: 100%
  .flex
    display: flex
    justify-content: center
    flex-direction: column
    height: 100%

  h1
    font-size: em(36px, 16px)
    +mq(small)
      font-size: em(44px)

  +e(play)
    background:
      image: url('../img/play.svg')
      repeat: no-repeat
    height: 100px
    width: 100px
    opacity: 0.9
    transition: $trns-duration
    &:hover
      opacity: 0.6
    &:active
      opacity: 1

    +mq(small)
      height: 120px
      width: 120px

  +e(cta)
    margin-top: 30px
    button
      font-size: em(10px, 16px)
      padding: 12px 20px
      margin-bottom: 5px
    p
      font-size: em(13px)
      +mq(small)
        font-size: em(15px)
  +e(scroll)
    background:
      image: url('../img/down.svg')
      repeat: no-repeat
    height: 50px
    width: 50px
    margin-top: 15px
    opacity: 0.9
    transition: $trns-duration
    animation: pulse 2.2s infinite
    &:hover
      opacity: 0.6
    &:active
      opacity: 1
    @at-root
      @keyframes pulse
        50%
          transform: translateY(25%)
