.main-nav
	header
		background-color: $blanco
		padding: 20px 5% 15px
		z-index: 2
		width: 100%
		position: fixed
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50)
		text-transform: uppercase
		transition: transform $trns-duration ease-in-out

		&.hidden
			transform: translateY(-110%)

	nav
		display: flex
		flex-direction: row
		justify-content: space-around

	.desktop-menu-items ul
		display: none
		flex-grow: 2

		+mq(medium)
			display: flex
			flex-grow: 2
			& li
				flex: 1 1 100%
				padding: 0 15px
				align-self: center

	+e(logo)
		@extend %sin-texto
		align-self: flex-start
		+img-replace("bo-logo-min-color.svg", 58px, 45px)
		margin-right: auto

	button
		font-size: em(10px)
		padding: 10px 25px

	+e(toggle)
		border-radius: 10px
		padding: 8px 15px
		border: 1px solid $negro
		transition: $trns-duration ease-out
		+mq(medium)
			display: none
		&:hover
			color: white
			background: $negro

// Mobile menu items
.mobile-menu-items
	display: none
	flex-direction: column
	align-items: center
	margin-top: 10px
	text-align: center

	&.flex
		display: flex
		+mq(medium)
			display: none

	+mq(medium)
		display: none

	li
		margin-bottom: 20px
		&:nth-last-child
			margin-bottom: 0
	a
		padding: 20px
		width: 100%
