// Arrancamos con nuestro estilizado general

*
  box-sizing: border-box

::selection
  background: palette(rosa)
  color: $blanco

body
  color: $negro
  font-size: $base__font-size
  font-family: $font-family--primary
  line-height: ($base__line/$base__font-size)
  font-weight: $font__weight--light

// Ahora nos vamos por las situaciones de los pesos de las letras
h1
  @extend %header-default
  font-size: em(45px)
  line-height: (55px/45px)

h2
  @extend %header-default
  font-size: em(32px)
  line-height: (55px/32px)

h3
  @extend %header-default
  font-size: em(25px)
  line-height: (30px/25px)


// Ligas hermosas
a
  position: relative
  color: $color-primario
  text-decoration: none
  transition: $trns-duration ease-in

  &.btn
    @extend %btn-default
    &:hover
      color: $blanco

  // &:before
  //   content: ""
  //   position: absolute
  //   width: 100%
  //   height: 1px
  //   bottom: 0
  //   left: 0
  //   background-color: $color-primario
  //   visibility: hidden
  //   transform: scaleX(0)
  //   transition: all $trns-duration ease-in-out

  &:visited
    color: $color-primario

  &:hover
    color: $negro

    // &:before
    //   visibility: visible
    //   transform: scaleX(1)

// Elementos gráficos
button
  @extend %btn-default

img
  max-width: 100%

// Situación de los formularios
label
  display: none

input[type='submit']
  @extend  %btn-default
