// Arrancamos con nuestro estilizado general

*
  box-sizing: border-box

::selection
  background: palette(rosa)
  color: $blanco

body
  color: $negro
  font-size: $base__font-size
  font-family: $font-family--primary
  line-height: ($base__line/$base__font-size)
  font-weight: $font__weight--light

// Ahora nos vamos por las situaciones de los pesos de las letras
h1
  @extend %header-default
  font-size: em(45px)
  line-height: (55px/45px)

h2
  @extend %header-default
  font-size: em(32px)
  line-height: (55px/32px)

h3
  @extend %header-default
  font-size: em(25px)
  line-height: (30px/25px)


// Elementos gráficos
button
  @extend %btn-default


// Situación de los formularios
label
  display: none

input[type='submit']
  @extend  %btn-default
