footer.footer
  .container
    .row.vertical
      h2 Llega el momento de tu vida. Hagámoslo mágico
      h6 The best moment of your life is coming. Let’s Make it Magic
      
      .footer__cta
        button(onClick="parent.location='https://bodasoaxaca.typeform.com/to/XBNkje'") Empieza en 60 Segundos
        p Get Started in 60 Seconds
        
    .row.footer__medallas
      script(type='text/javascript', src='http://cdn1.bodas.com.mx/_js/wp-rated.js?v=4')
      #wp-ratedWA
        a(href='http://www.bodas.com.mx/invitaciones-de-boda/bodas-oaxaca--e117320', title='Bodas Oaxaca, ganador Wedding Awards 2015 bodas.com.mx')
          img#wp-ratedWA-img-2015(width='125', height='125', alt='Bodas Oaxaca, ganador Wedding Awards 2015 bodas.com.mx', src='http://cdn1.bodas.com.mx/img/badges/2015/badge-weddingawards_es_MX.jpg')
      script.
        wpShowRatedWAv3('117320','2015');
      a(href='http://zankyou.terra.com.mx/f/bodas-oaxaca-48763')
        img(src='http://asset1.zankyou.com/img/sections/badgets/zk_recommend/circle/badge_green_mx.png', width='100') 
    .row.horizontal
      ul.social
        li: a(href='https://twitter.com/bodasoaxaca').footer__iconos.twitter Twitter
        li: a(href='https://www.facebook.com/bodasoaxaca').footer__iconos.facebook Facebook
        li: a(href='https://instagram.com/bodasoaxaca/').footer__iconos.instagram Instagram
        li: a(href='http://bodasoaxaca.tumblr.com/').footer__iconos.tumblr Tumblr
        li: a(href='https://es.pinterest.com/bodasoaxaca/').footer__iconos.pinterest Pinterest
    
    .row.vertical
      a.geekybytes(href='http://www.geekybytes.mx/') Diseño + Código : GeekyBytes
      p © 2015 Bodas Oaxaca
