footer.footer
  .container
    .row.vertical
      h2 Llega el momento de tu vida. Hagámoslo mágico
      h6 The best moment of your life is coming. Let’s Make it Magic
      
      .footer__cta
        button(onClick="parent.location='https://bodasoaxaca.typeform.com/to/XBNkje'") Empieza en 60 Segundos
        p Get Started in 60 Seconds
        
      p © 2015 Bodas Oaxaca
