footer.footer
  h2 Llega el momento de tu vida. Hagámoslo mágico
  p The best moment of your life is coming. Let’s Make it Magic
  
  .footer__cta
    button Empieza en 60 Segundos
    p Get Started in 60 Seconds
    
  p © 2014 Bodas Oaxaca
