include ./_mixins.jade

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
meta(name='description', content='Planeamos y preparamos tu gran día de principio a fin. Desde las invitaciones, decoración y entretenimiento, hasta tu maquillaje y recuerdos. Hacemos de cada detalle una experiencia innolvidable y única.')
meta(name='keywords', content='bodas, oaxaca, planeación, maquillaje, vestido, invitaciones, decoración, fotos')
meta(name='author', content='GeekyBytesMX')
meta(name="robots", content="index, follow")

//- Facebook Stuff
+facebook('Bodas Oaxaca', 'BodasOaxaca.com', 'http://bodasoaxaca.com/', 'http://bodasoaxaca.github.io/sitioweb/img/facebook.jpg', '', 'Planeamos y preparamos tu gran día de principio a fin. Desde las invitaciones, decoración y entretenimiento, hasta tu maquillaje y recuerdos. Hacemos de cada detalle una experiencia innolvidable y única.')
+twitter('@bodasoaxaca', 'Bodas Oaxaca', 'Planeamos y preparamos tu gran día de principio a fin. Desde las invitaciones, decoración y entretenimiento, hasta tu maquillaje y recuerdos. Hacemos de cada detalle una experiencia innolvidable y única.', 'http://bodasoaxaca.github.io/sitioweb/img/facebook.jpg')

//- ----- link website ----- //
link(rel='icon' href='../img/favicon.png' type='image/png')

//- ----- CSS Files ----- //
link(rel='stylesheet', href='../css/style.css')
