meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
meta(name='description', content='Bodas Oaxaca el lugar para planear tu boda mágica')
meta(name='keywords', content='bodas, oaxaca, planeación, maquillaje, vestido')
meta(name='author', content='GeekyBytesMX')
meta(name="robots", content="index, follow")

//- ----- link website ----- //
link(rel='icon' href='img/favicon.png' type='image/png')

//- ----- CSS Files ----- //
link(rel='stylesheet', href='css/style.css')
