mixin menu-items()
  ul.main-nav__items
    li: a(href='nosotros') Nosotros
    //li: a(href='#') Servicios
    //li: a(href='#') Oaxaca
    li: a(href='http://bodasoaxaca.tumblr.com/') Blog
    li: button(onClick="parent.location='https://bodasoaxaca.typeform.com/to/XBNkje'") Contacto

.main-nav
  header
    nav
      a.main-nav__logo(href="index.html") Bodas Oaxaca
      .desktop-menu-items
        +menu-items
      span.main-nav__toggle Menú
    .mobile-menu-items
      +menu-items
    
  
