mixin menu-items()
  ul.main-nav__items
    li: a(href='#') Acerca
    li: a(href='#') Decoración
    li: a(href='#') Oaxaca
    li: button Contacto

header
  nav.main-nav.shadow
    a.main-nav__logo(href="index.html") Bodas Oaxaca
    span.main-nav__burger Menú
  .mobile-menu-items
    +menu-items
  
