section#decoracion
  .container
    .row.vertical
      h2 Decoración
      h6 Decoration
      img(src='img/decoracion.jpg', alt='Un ejemplo de nuestra decoración')
      .body
        p La decoración es seleccionada de forma muy especial, cuidando crear espacios únicos y encantadores. Nos involucramos desde la creación hasta la ejecución. Hacemos de las flores parte del lenguaje del evento y de esta forma complementamos la experiencia. 
        p.eng The Decoration is selected specially for you. We design temporary spaces. We get involved from the creation to the execution. We make flowers a part of the event’s language, and thus complement the experience.

    .row.vertical
      h3 Nuestro Taller
      h6 Our Workshop
      
      p La Botica de las Flores es el taller de flores de Bodas Oaxaca. Nos dedicamos a darle a tus momentos especiales el toque natural. 
      p.eng The Decoration is selected specially for you. We design temporary spaces. We get involved from the creation to the execution. We make flowers a part of the event’s language, and thus complement the experience.
    
    .row.vertical
      h3 Lo que elaboramos
      h6 What we do
    .row
      .item
        p Bouquets
        p.eng Bouquets
      .item
        p Tocados
        p.eng Boutonniers & Headpieces
      .item
        p Centros de mesa
        p.eng Table centers
      .item
        p Arreglos florales para la ceremonia
        p.eng Floral arrangements for the ceremony
      .item
        p Arreglos florales para la recepción
        p.eng Floral arrangements for the reception
    .row
      a.btn(href='https://www.instagram.com/laboticadelasflores/') Conoce Nuestro Instagram
        
