section#invitaciones
  .container
    .row.vertical
      h2 Decoración
      h6 Decoration
      
      p La decoración es seleccionada de forma muy especial, cuidando crear espacios únicos y encantadores. Nos involucramos desde la creación hasta la ejecución. Hacemos de las flores parte del lenguaje del evento y de esta forma complementamos la experiencia. 
      p.eng The Decoration is selected specially for you. We design temporary spaces. We get involved from the creation to the execution. We make flowers a part of the event’s language, and thus complement the experience.
