section#invitaciones
  .container
    .row.vertical
      h2 Mesa de Dulces
      h6 Candy Bar
      
      p ¿Qué mejor manera de agradecer a tus invitados por compartir ese día tan especial contigo?  Ya sea que estés celebrando tu boda, baby shower, primera comunión, bautizo, o cualquier otro evento, nos encantará montar tu buffet de golosinas dulces, saladas y/o picositas de acuerdo al concepto de tu fiesta.
      p.eng What a better way to thank your guests for sharing that very special day with you? If you are celebrating your wedding, baby shower, first communion, christening or any other event, we would love to set your sweet, salty and/or spicy treats buffet.
