section#fotos
  .container
    .row.vertical
      h2 Cabina de Fotos
      h6 PhotoBooth
      a(href='http://www.picbox.com.mx/', target='_blank'): img(src='img/picbox.jpg', alt='Conoce Picbox')
      .body
        p Somos parte de la mejor cabina de fotos de México; Picbox. Estamos seguros que éste será el mejor recuerdo para ti y tus invitados: Toma las mejores fotos en cuestión de segundos,  imprímelas, envíalas y compártelas con quien quieras. 
        p.eng We are part of the best Photobooth chain in Mexico; Picbox. We are sure this will give the best memories to your guests and you: Take the best photos within seconds. Print, send and share them with whoever you want.
