section#invitaciones
  .container
    .row.vertical
      h2 Invitaciones
      h6 Invitations
      
      p Diseñamos y elaboramos invitaciones personalizadas. Cuidamos cada detalle del concepto que quieres proyectar en tu evento y para complementar la imagen contemplamos artículos muy originales para tus invitados.
      p.eng We design and make unique invitations. We take care of the concept that you want to share. We focus in developing ideas that complement the image of your event.
