section#invitaciones
  .container
    .row.vertical
      h2 Invitaciones
      h6 Invitations
      img(src='img/invitaciones.jpg', alt='Una muestra de nuestras invitaciones')
      .body
        p Diseñamos y elaboramos invitaciones personalizadas. Cuidamos cada detalle del concepto que quieres proyectar en tu evento y para complementar la imagen contemplamos artículos muy originales para tus invitados.
        p.eng We design and make unique invitations. We take care of the concept that you want to share. We focus in developing ideas that complement the image of your event.

    .row.vertical
      h3 Invitaciones para Eventos
      h6 We make invitations for
    .row.items
      .item
        p Bodas
        p.eng Weddings
      .item
        p Batuizos
        p.eng Baptisms
      .item
        p Primera Comunión
        p.eng Christening
      .item
        p XV Años
        p.eng Quince Años
      .item
        p Despedidas de Soltera
        p.eng Bachelorette Parties
      .item
        p Eventos Corportativos
        p.eng Corportate Events
    
    .row.vertical
      h3 Detalles para los invitados
      h6 Details for the Guests
    
    .row.items
      .item
        p Abanicos
        p.eng Hand-fans
      .item
        p Pantunflas
        p.eng Slippers
      .item
        p Burbujas
        p.eng Slippers
      .item
        p Souvenirs
        p.eng Souvenirs
      .item
        p Cajas
        p.eng Boxes
