section.detalles
  .container
    .row.vertical
      h2 ¿Quienes somos?
      h6 Who are we?
      
      p Bodas Oaxaca está integrado por un grupo multidisciplinario de profesionales  a tu servicio, trabajamos con esmero y dedicación, para lograr que cada evento sea justo lo que soñaste.
      p Bodas Oaxaca is integrated by a group of professionals at the service of the client, we work with care and dedication to make every event just the way you dreamed it. 

    .row.detalles__mision-vision
      .half
        h2 Misión
        h6 Mission
        
        p Comprender las necesidades del cliente y diseñar las soluciones adecuadas a cada evento, haciendo de este su mejor carta de presentación.
        p Our mission is to understand the necessities of our clients to design the most adequate solutions for every event, making it its best presentation card.
      
      .half
        h2 Visión
        h6 Vision
        
        p Ser proveedores de excelencia en imagen y diseño de eventos, junto a un equipo de profesionales capaces de generar las nuevas tendencias en eventos sociales.
        p To be providers of excellence in image and design of events, next to a team of professionals who are able to generate new tendencies in social events. 
      
      .row
        a.btn(href='servicios') Consulta Nuestros Servicios
