section.hero-nosotros
  .container
    .row.vertical
      h1 Nosotros
      h6 About us
      
      p Nuestra Experiencia se traduce en éxito para tu boda. Conócenos
      p.hero-nosotros__eng Our Experience translates into success for your wedding. Meet us
    
