body
  include ../_common/_menu.jade
  
  // Acá va la carne
  include ./_gracias.jade
  
  
  include ../_common/_footer.jade
  
  //- Scripts al final
  script(src='//code.jquery.com/jquery-1.11.3.min.js')
  script(src='../js/app-min.js')
