section.gracias
  .container
    .row.vertical
      h1 Gracias
      h6 Thank You
      
      p Hemos recibido tu mensaje y estaremos en contacto pronto
      p.eng We have received your message and will reply soon.
      
      a.btn(href='/') Volver al Inicio
      
