body
  include ../_common/_menu.jade

  include ./_hero.jade
  
  include ./_refuerzo.jade
  
  include ./_servicios.jade

  include ./_testimonio.jade

  include ../_common/_footer.jade
  
  script(src='//code.jquery.com/jquery-1.11.3.min.js')
  script(src='js/app-min.js')
  
