section.hero
  .container
    .row
      .hero__play
    .row.vertical
      h1 Por las bodas mágicas
      p For the magical weddings
    .row
      .hero__cta
        button(onClick="parent.location='https://bodasoaxaca.typeform.com/to/XBNkje'") Empieza en 60 Segundos
        p Get Started in 60 Seconds 
        
    .row
      .hero__scroll
    
