section.hero
  .container
    .row.vertical
      // .hero__play
      h1 Por las bodas mágicas
      p For the magical weddings
      .hero__cta
        button(onClick="parent.location='http://bodasoaxaca.com/nosotros#contacto'") Empieza en 60 Segundos
        p Get Started in 60 Seconds 
      a.hero__scroll(href='#refuerzo')
    
