section.refuerzo#refuerzo
  .container
    .row
      .refuerzo__pic
        img(src='img/enjoy.jpg' alt='Una novia feliz')
      .refuerzo__half-2
        h2 Disfruta de tu día <br>
          | Nosotros nos encargamos del resto
        h6 Enjoy your day, and leave everything else to us
        
        p.refuerzo__body Si estás organizando tu boda o evento, te brindamos la asesoría necesaria para que no dejes escapar el más mínimo detalle y disfrutes tu gran día.
                        |<br>Diseñamos y producimos el concepto del evento, desde las invitaciones, los recuerdos, decoración, mesa de dulces y todos los detalles que lo harán inolvidable. 
        
        p.refuerzo__body--eng If you are organizing your wedding or event, we can give you the advice you need so you don’t slip any details and can enjoy your big day.
                        |<br> We design and produce the concept of the event, from the invitations, souvenirs, decoration, candy bars and all the details that will make it unforgettable.
        .refuerzo__cta
          button(onClick="parent.location='https://bodasoaxaca.typeform.com/to/XBNkje'") Empieza en 60 Segundos
          p Get Started in 60 Seconds
