section.refuerzo
  .container
    .row
      img.refuerzo__pic(src='img/hero.jpg' alt='Una novia feliz')
    .row
      h2 Disfruta de tu día <br>
        | Nosotros nos encargamos del resto
      h6 Enjoy your day, and leave everything else to us
      
      p.refuerzo__body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor nibh dolor, quis finibus lorem dignissim sit amet. Suspendisse potenti. Pellentesque at dictum magna.
      
      .refuerzo__cta
        button(onClick="parent.location='https://bodasoaxaca.typeform.com/to/XBNkje'") Empieza en 60 Segundos
        p Get Started in 60 Seconds
