section.refuerzo
  .refuerzo__pic
  
  h2 Disfruta de tu día
    | Y el resto déjanoslo
  p Enjoy your day, and leave everything else to us
  
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor nibh dolor, quis finibus lorem dignissim sit amet. Suspendisse potenti. Pellentesque at dictum magna.
  
  .refuerzo__cta
    button Empieza en 60 Segundos
    p Get Started in 60 Seconds
