section.servicios
  .container
    .row.vertical
      .servicios__logo
      h2 Nuestros Servicios
      h6 Our Services
      p.servicios__descripcion Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor nibh dolor, quis finibus lorem dignissim sit amet. Suspendisse potenti. Pellentesque at dictum magna.
    
    .row.servicios__iconos
      .servicios__servicio
        img.servicios__sevicio__logo(src='img/planeacion.svg')
        h3 Invitaciones
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      
      .servicios__servicio
        img.servicios__sevicio__logo(src='img/decoracion.svg')
        h3 Decoración
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      .servicios__servicio
        img.servicios__sevicio__logo(src='img/dulces.svg')
        h3 Mesas de Dulces
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            
      .servicios__servicio
        img.servicios__sevicio__logo(src='img/photobooth.svg')
        h3 Cabina de Fotos
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        
    .row
      a.btn(href='#') Consulta todos nuestros servicios
              
                
