section.servicios
  .container
    .row.vertical
      .servicios__logo
      h2 Nuestros Servicios
      h6 Our Services
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor nibh dolor, quis finibus lorem dignissim sit amet. Suspendisse potenti. Pellentesque at dictum magna.
    
    .row
      .servicios__sevicio
        img.servicios__sevicio__logo(src='img/planeacion.svg')
        h3 Planeación
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      
      .servicios__sevicio
        img.servicios__sevicio__logo(src='img/decoracion.svg')
        h3 Decoración
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      .servicios__sevicio
        img.servicios__sevicio__logo(src='img/entretenimiento.svg')
        h3 Entretenimiento
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            
      .servicios__sevicio
        img.servicios__sevicio__logo(src='img/photobooth.svg')
        h3 Photobooth
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              
                
