section.servicios
  .container
    .row.vertical
      .servicios__logo
      h2 Nuestros Servicios
      h6 Our Services
      p.servicios__descripcion Sabemos que cada detalle debe ser perfecto, por eso te ofrecemos una gama de servicios con los que puedes estar segura haremos hasta lo imposible por que sean tal cuál lo has soñado.
    
    .row.servicios__iconos
      
      a.servicios__servicio(href='#')
        img.servicios__sevicio__logo(src='img/invitaciones.svg' alt='Un ícono de un sobre')
        h3 Invitaciones
        p Una invitación es la carta de presentación del evento. Las haremos únicas e increíbles.
      
      a.servicios__servicio(href='#')
        img.servicios__sevicio__logo(src='img/decoracion.svg' alt='Un flor en su maceta')
        h3 Decoración
        p Elaboramos hermosos bouquets, boutonnieres, tocados, centros de mesa y arreglos florales para la ceremonia y recepción.

      a.servicios__servicio(href='#')
        img.servicios__sevicio__logo(src='img/dulce.svg' alt='Un caramelo')
        h3 Mesas de Dulces
        p Preparamos tu mesa con golosinas dulces, salados y/o picositas. La personalizamos de acuerdo a tu concepto.
            
      a.servicios__servicio(href='http://www.picbox.com.mx/')
        img.servicios__sevicio__logo(src='img/photobooth.svg' alt='Una cámara fotográfica')
        h3 Cabina de Fotos
        p Crea recuerdos con la mejor cabina de fotos en México “Picbox”en cuestión de segundos imprímelas, envíalas y compártelas.
        
    .row
      a.btn(href='/servicios') Consulta todos nuestros servicios
              
                
