section.testimonio
  .container
    .row.vertical
      h3 Jennifer probó nuestro servicio y nos amó
      h6 Jennifer tried our service and loved us!
      
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor nibh dolor, quis finibus lorem dignissim sit amet. Suspendisse potenti. Pellentesque at dictum magna.
    
    .row
      img.testimonio__pic(src='img/jennifer.jpg')
  
