section.testimonio
  .container
    .row
      .vertical.half
        h3 Adriana Lopez amó nuestros servicios
        h6 Adriana Lopez loved our services
        
        p Las invitaciones fue una de las etapas que más disfruté de mi boda, desde que llegué a las instalaciones de bodas Oaxaca todo fue muy formal, un lugar con muy buena ambientación te ofrecen alguna bebida, en fin, hacen de tu compra toda una experiencia. La diseñadora es muy creativa y se fija en cada detalle que deseas, colores temática, tipo de texto y letras, etc. No imprimen las invitaciones hasta que no estés contento con ellas. Cuando te las entregan es otro momento muy emotivo ya que todo es muy bonito, te las entregan en cajas blancas con unos listones con el logotipo de la empresa. Sin dudar, cuando tenga otro evento volveré a acudir con ellos y los recomiendo ampliamente mis amigas ya han ido y quedaron fascinados.
    
      .half
        img.testimonio__pic(src='img/adriana.jpg' alt='Adriana Lopez contenta en Oaxaca a punto de lanzar su ramo de flores a las novias.')
    .row
      a.btn(href='http://www.bodas.com.mx/invitaciones-de-boda/bodas-oaxaca--e117320/opiniones') Ve más opiniones
